{% extends '_layout.html' %}

{% block content %}
<div class="container">
  <div class="hero">
    <div class="card heading flex-align-self-center">
      <h2 class="card__small-text">hello, my name is</h2>
      <h1 class="card__large-text">nicolaus</h1>
    </div>
  </div>
  <section class="section">
    <div class="quote">
      <div class="quote__head heading">who am i?</div>
      <div class="quote__content">
        <p>
          Enthusiast second year computer science student with strong foundation in math and coding. 
          Seeking to establish solid skills in development and collaboration as a web developer.
        </p>
        <button class="outlined-button"><a href="/about" class="outlined-button__link">learn more</a></button>
      </div>
    </div>
  </section>
</div>
{% endblock %}