{% extends '_layout.html' %}

{% block content %}
<div class="container">
  <div class="hero">
    <div class="hero__content">
      <h2 class="hero__small-text">hello, my name is</h2>
      <h1 class="hero__large-text">nicolaus</h1>
    </div>
  </div>
  <section class="section">
    <div class="quote">
      <div class="quote__head">who am i?</div>
      <div class="quote__content">
        <p>
          Enthusiast second year computer science student with passion and curiosity to learn anything. 
          Seeking to establish solid skills in development and collaboration as a developer. 
          Also a gaming enthusiast.
        </p>
      </div>
      <div class="quote_footer">
        <button class="button"><a href="/about">learn more</a></button>
      </div>
    </div>
  </section>
</div>
{% endblock %}