$mobile: 768px;
$tablet: 1023px;
$desktop: 1215px;

$black: #000;
$white: #fff;

@import 'css_partials/navbar';
@import 'css_partials/footer';
@import 'css_partials/utility';
@import 'css_partials/components';
@import 'css_partials/elements';
@import 'css_partials/override';