$mobile: 768px;
$tablet: 1023px;
$desktop: 1215px;

$black: #000;
$white: #fff;

@import 'css_partials/navbar';
@import 'css_partials/footer';
@import 'css_partials/utility';
@import 'css_partials/components';

body {
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-block-start: 0;
}

.container {
  max-width: 960px !important;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;

  @media screen and (max-width: $tablet) {
    width: calc(100% - 1rem) !important;
  }
}

section {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

section:first-of-type {
  margin-top: 3rem;
}

.button {
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  padding: 0.5rem 1.5rem;
  transition: background .2s, border .2s;

  > a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.enlarge-on-hover {
  transition: transform 0.5s, border .5s;
  z-index: 1;

  &:hover {
    transform: scale(1.2);
    border-color: $black;
    background-color: $white;
    z-index: 2;
  }
}

.hidden-on-tablet {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

.icon {
  height: 80px;
  width: 80px;
}

.title-thin {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
