.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-block-start: 0;
}

.container {
  max-width: 960px !important;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;

  @media screen and (max-width: $tablet) {
    width: calc(100% - 1rem) !important;
  }
}

.button {
  background-color: $black;
  color: $white;
  border: 1px solid $black;
  padding: 0.5rem 1.5rem;
  transition: background .2s, border .2s;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.icon {
  height: 80px;
  width: 80px;
}
