.is-flex {
  display: flex;
}

.flex-align-items-flex-end {
  align-items: flex-end;
}

.flex-align-self-flex-end {
  align-self: flex-end;
}

.flex-align-self-flex-start {
  align-self: flex-start;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-self-center {
  align-self: center;
}

.is-inline-block {
  display: inline-block;
}

.has-text-center {
  text-align: center;
}