.is-flex {
  display: flex;
}

.flex-align-items-flex-end {
  align-items: flex-end;
}

.flex-align-self-flex-end {
  align-self: flex-end;
}

.flex-align-self-flex-start {
  align-self: flex-start;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-self-center {
  align-self: center;
}

.is-inline-block {
  display: inline-block;
}

.has-text-center {
  text-align: center;
}

.enlarge-on-hover {
  transition: transform 0.5s, border .5s;
  z-index: 1;

  &:hover {
    transform: scale(1.2);
    border-color: $black;
    background-color: $white;
    z-index: 3;
  }
}

.hidden-on-tablet {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

.title-thin {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}